:root {
  --color-red-red-5: #fce9e9;
  --color-red-red-10: #fad2d2;
  --color-red-red-20: #f4a6a6;
  --color-red-red-30: #ec6363;
  --color-red-red-40: #e94d4d;
  --color-red-red-50: #e42020;
  --color-red-red-60: #b61a1a;
  --color-red-red-70: #891313;
  --color-red-red-80: #5b0d0d;
  --color-red-red-90: #440a0a;
  --color-blue-blue-5: #edf0fc;
  --color-blue-blue-10: #dbe1f9;
  --color-blue-blue-20: #b8c4f3;
  --color-blue-blue-30: #8297eb;
  --color-blue-blue-40: #7189e8;
  --color-blue-blue-50: #4d6be2;
  --color-blue-blue-60: #3e56b5;
  --color-blue-blue-70: #2e4088;
  --color-blue-blue-80: #1f2b5a;
  --color-blue-blue-90: #172044;
  --color-green-green-5: #e8f3ef;
  --color-green-green-10: #d0e7df;
  --color-green-green-20: #a2cfbf;
  --color-green-green-30: #5cab8e;
  --color-green-green-40: #459f7e;
  --color-green-green-50: #16875e;
  --color-green-green-60: #126c4b;
  --color-green-green-70: #0d5138;
  --color-green-green-80: #093626;
  --color-green-green-90: #07291c;
  --color-purple-purple-5: #f6ebff;
  --color-purple-purple-10: #edd7fe;
  --color-purple-purple-20: #dcaffe;
  --color-purple-purple-30: #c174fd;
  --color-purple-purple-40: #b960fd;
  --color-purple-purple-50: #a738fc;
  --color-purple-purple-60: #862dca;
  --color-purple-purple-70: #642297;
  --color-purple-purple-80: #431665;
  --color-purple-purple-90: #32114c;
  --color-orange-orange-5: #fdf4e5;
  --color-orange-orange-10: #fce9cc;
  --color-orange-orange-20: #f8d499;
  --color-orange-orange-30: #f3b34d;
  --color-orange-orange-40: #f1a933;
  --color-orange-orange-50: #ee9300;
  --color-orange-orange-60: #be7600;
  --color-orange-orange-70: #8f5800;
  --color-orange-orange-80: #5f3b00;
  --color-orange-orange-90: #472c00;
  --color-pink-pink-5: #fbe6f7;
  --color-pink-pink-10: #f7cdf0;
  --color-pink-pink-20: #ef9be1;
  --color-pink-pink-30: #e24fca;
  --color-pink-pink-40: #de36c2;
  --color-pink-pink-50: #d604b3;
  --color-pink-pink-60: #ab038f;
  --color-pink-pink-70: #80026b;
  --color-pink-pink-80: #560248;
  --color-pink-pink-90: #400136;
  --color-teal-teal-5: #e6f2f5;
  --color-teal-teal-10: #cce6eb;
  --color-teal-teal-20: #99ccd8;
  --color-teal-teal-30: #4da6ba;
  --color-teal-teal-40: #3499b1;
  --color-teal-teal-50: #01809d;
  --color-teal-teal-60: #01667e;
  --color-teal-teal-70: #014d5e;
  --color-teal-teal-80: #00333f;
  --color-teal-teal-90: #00262f;
  --color-gray-gray-0: #ffffff;
  --color-gray-gray-5: #fcfcfc;
  --color-gray-gray-10: #f9f9f9;
  --color-gray-gray-15: #f6f6f6;
  --color-gray-gray-20: #f3f3f3;
  --color-gray-gray-25: #f0f0f0;
  --color-gray-gray-30: #e6e6e6;
  --color-gray-gray-40: #c9c9c9;
  --color-gray-gray-50: #adadad;
  --color-gray-gray-60: #919191;
  --color-gray-gray-70: #757575;
  --color-gray-gray-80: #5c5c5c;
  --color-gray-gray-85: #454545;
  --color-gray-gray-90: #2e2e2e;
  --color-gray-gray-95: #1b1b1b;
  --color-gray-gray-100: #000000;
  --spacing-none: 0px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
  --radius-none: 0px;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-xxl: 24px;
  --font-family-display: Roboto;
  --font-family-body: Roboto;
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
}

.theme-light {
  --color-accent-primary-weaker: #8297eb;
  --color-accent-primary-weak: #7189e8;
  --color-accent-primary-default: #4d6be2;
  --color-accent-primary-strong: #3e56b5;
  --color-accent-primary-stronger: #2e4088;
  --color-accent-warning-weaker: #f3b34d;
  --color-accent-warning-weak: #f1a933;
  --color-accent-warning-default: #ee9300;
  --color-accent-warning-strong: #be7600;
  --color-accent-warning-stronger: #8f5800;
  --color-accent-danger-weaker: #ec6363;
  --color-accent-danger-weak: #e94d4d;
  --color-accent-danger-default: #e42020;
  --color-accent-danger-strong: #b61a1a;
  --color-accent-danger-stronger: #891313;
  --color-accent-info-weaker: #8297eb;
  --color-accent-info-weak: #7189e8;
  --color-accent-info-default: #4d6be2;
  --color-accent-info-strong: #3e56b5;
  --color-accent-info-stronger: #2e4088;
  --color-accent-success-weaker: #5cab8e;
  --color-accent-success-weak: #459f7e;
  --color-accent-success-default: #16875e;
  --color-accent-success-strong: #126c4b;
  --color-accent-success-stronger: #0d5138;
  --color-accent-primary-strongest: #1f2b5a;
  --color-accent-primary-weakest: #b8c4f3;
  --color-accent-warning-weakest: #f8d499;
  --color-accent-warning-strongest: #5f3b00;
  --color-accent-danger-weakest: #f4a6a6;
  --color-accent-danger-strongest: #5b0d0d;
  --color-accent-info-weakest: #b8c4f3;
  --color-accent-info-strongest: #1f2b5a;
  --color-accent-success-weakest: #a2cfbf;
  --color-accent-success-strongest: #093626;
  --color-accent-neutral-weakest: #f3f3f3;
  --color-accent-neutral-weaker: #e6e6e6;
  --color-accent-neutral-weak: #c9c9c9;
  --color-accent-neutral-default: #adadad;
  --color-accent-neutral-strong: #919191;
  --color-accent-neutral-stronger: #757575;
  --color-accent-neutral-strongest: #5c5c5c;
  --color-text-default: #000000;
  --color-text-secondary: #2e2e2e;
  --color-text-subtle: #5c5c5c;
  --color-text-inverse: #ffffff;
  --color-text-link: #4d6be2;
  --color-text-disabled: #757575;
  --color-text-link-hover: #3e56b5;
  --color-text-link-selected: #2e4088;
  --color-icon-default: #000000;
  --color-icon-secondary: #2e2e2e;
  --color-icon-subtle: #5c5c5c;
  --color-icon-inverse: #ffffff;
  --color-icon-link: #4d6be2;
  --color-icon-disabled: #757575;
  --color-icon-link-hover: #3e56b5;
  --color-icon-link-selected: #2e4088;
  --color-background-default: #ffffff;
  --color-background-secondary: #fcfcfc;
  --color-background-subtle: #e6e6e6;
  --color-background-inverse: #000000;
  --color-background-selected: #4d6be2;
  --color-background-disabled: #c9c9c9;
  --color-background-selected-hover: #3e56b5;
  --color-background-disabled-alt: #adadad;
  --color-background-selected-disabled: #b8c4f3;
  --color-border-default: #919191;
  --color-border-secondary: #c9c9c9;
  --color-border-subtle: #e6e6e6;
  --color-border-disabled: #adadad;
  --color-border-inverse: #f9f9f9;
  --color-border-hover: #dbe1f9;
  --color-border-active: #4d6be2;
}

.theme-dark {
  --color-accent-primary-weaker: #3e56b5;
  --color-accent-primary-weak: #4d6be2;
  --color-accent-primary-default: #7189e8;
  --color-accent-primary-strong: #8297eb;
  --color-accent-primary-stronger: #b8c4f3;
  --color-accent-warning-weaker: #be7600;
  --color-accent-warning-weak: #ee9300;
  --color-accent-warning-default: #f1a933;
  --color-accent-warning-strong: #f3b34d;
  --color-accent-warning-stronger: #f8d499;
  --color-accent-danger-weaker: #b61a1a;
  --color-accent-danger-weak: #e42020;
  --color-accent-danger-default: #e94d4d;
  --color-accent-danger-strong: #ec6363;
  --color-accent-danger-stronger: #f4a6a6;
  --color-accent-info-weaker: #3e56b5;
  --color-accent-info-weak: #4d6be2;
  --color-accent-info-default: #7189e8;
  --color-accent-info-strong: #8297eb;
  --color-accent-info-stronger: #b8c4f3;
  --color-accent-success-weaker: #126c4b;
  --color-accent-success-weak: #16875e;
  --color-accent-success-default: #459f7e;
  --color-accent-success-strong: #5cab8e;
  --color-accent-success-stronger: #a2cfbf;
  --color-accent-primary-strongest: #dbe1f9;
  --color-accent-primary-weakest: #2e4088;
  --color-accent-warning-weakest: #8f5800;
  --color-accent-warning-strongest: #fce9cc;
  --color-accent-danger-weakest: #891313;
  --color-accent-danger-strongest: #fad2d2;
  --color-accent-info-weakest: #2e4088;
  --color-accent-info-strongest: #dbe1f9;
  --color-accent-success-weakest: #0d5138;
  --color-accent-success-strongest: #d0e7df;
  --color-accent-neutral-weakest: #5c5c5c;
  --color-accent-neutral-weaker: #757575;
  --color-accent-neutral-weak: #919191;
  --color-accent-neutral-default: #adadad;
  --color-accent-neutral-strong: #c9c9c9;
  --color-accent-neutral-stronger: #e6e6e6;
  --color-accent-neutral-strongest: #f3f3f3;
  --color-text-default: #ffffff;
  --color-text-secondary: #f9f9f9;
  --color-text-subtle: #f3f3f3;
  --color-text-inverse: #000000;
  --color-text-link: #7189e8;
  --color-text-disabled: #757575;
  --color-text-link-hover: #8297eb;
  --color-text-link-selected: #b8c4f3;
  --color-icon-default: #ffffff;
  --color-icon-secondary: #f9f9f9;
  --color-icon-subtle: #f3f3f3;
  --color-icon-inverse: #000000;
  --color-icon-link: #7189e8;
  --color-icon-disabled: #757575;
  --color-icon-link-hover: #8297eb;
  --color-icon-link-selected: #b8c4f3;
  --color-background-default: #000000;
  --color-background-secondary: #1b1b1b;
  --color-background-subtle: #5c5c5c;
  --color-background-inverse: #ffffff;
  --color-background-selected: #7189e8;
  --color-background-disabled: #919191;
  --color-background-selected-hover: #8297eb;
  --color-background-disabled-alt: #757575;
  --color-background-selected-disabled: #1f2b5a;
  --color-border-default: #919191;
  --color-border-secondary: #757575;
  --color-border-subtle: #5c5c5c;
  --color-border-disabled: #adadad;
  --color-border-inverse: #2e2e2e;
  --color-border-hover: #1f2b5a;
  --color-border-active: #7189e8;
}